body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.scene {
  position: relative;
  width: 600px;
  height: 200px;
}

.hulk-hand {
  width: 100px;
  height: 100px;
  background-image: url("hulk.png");
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-size: 100px 100px;
}

.left-hand {
  left: 0;
  rotate: 90deg;
}

.right-hand {
  right: 0;
  rotate: -90deg;
}

.object {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
