/* styles.css */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    justify-content: flex-end; /* Align content to the bottom */
}

#imageContainer {
    display: flex;
    align-items: flex-end; /* Align images to the bottom of the container */
    gap: 100px; /* 100px gap between images */
    /* position: relative; */
    top:80vh;
    width: 100%; /* Full width of the container */
    overflow: hidden;
}

.image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    animation: moveHorizontal 10s linear infinite;
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100vw);
    }
}

#smashObject {
    position: absolute;
    top: 0;
    left: 50%; /* Center horizontally */
    width: 50px; /* Width of the smash object */
    /* height: 50px;  */
    /* transform: translateX(-50%); Center horizontally */
    transition: height 50px 1s ease; 
    /* background-image: url('hulk.png'); */
    /* transform: translateY(0%); */
}
#smashObject img{
    transition: transform 1s;
}

.hit {
    transform: translateY(100%);
}
#smashObject.hit img{
    transform: rotate(180deg);
    transition: transform 0.5s;
}
.hit-back img{
    /* transform: rotate(180deg); */
    transition: transform 0.2s ease-in-out;
}
#smashObject.hit{
    height: 90vh;
    transition: transform 1s;
    
} 
